.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
}

img {
    width: 1000px;
    height: 500px;
    left: 1600px;
    top: 808px;
}

.banner {
    display: flex;
}

.banner-texts {
    margin: 0 50px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
}

.banner-title {
    font-weight: 700;
    font-size: 35px;
}

.banner-description {
    font-weight: 400;
    font-size: 11px;
    color: #444343;
    margin-bottom: 32px;
}

button {
    border: 0;
    color: white;
    background: orangered;
    width: 100px;
    height: 40px;
    left: 800px;
    top: 78px;
}