.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
}

img {
    width: 1000px;
    height: 500px;
    left: 1600px;
    top: 808px;
}

.banner {
    display: flex;
}

.banner-texts {
    margin: 0 50px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
}

.banner-title {
    font-weight: 700;
    font-size: 35px;
}

.banner-description {
    font-weight: 400;
    font-size: 11px;
    color: #444343;
    margin-bottom: 32px;
}

button {
    border: 0;
    border-radius: 4px;
    color: white;
    background: orangered;
    width: 100px;
    height: 40px;
    left: 800px;
    top: 78px;
}

/* main block starts */

main {
    max-width: 1000px;
    margin: 0 auto;
}

.first-block {
    display: flex;
    margin-top: 130px;
    margin-left: 100px;
}

/* my-failures section styles */
.my-failures {
    text-align: left;
    margin-left: 87px;
}

.section-title {
    color: #151414;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.section-description {
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.ul {
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* my plans styles */
.my-plans {
    margin-top: 130px;
}

.section-title2 {
    color: #151414;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/* footer */

.footer {
    background-color: #151414;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2652.26px;
}